<link rel="stylesheet" href="../Content/style.css" type="text/css">

<div id="background">
    <div id="page">
        <div id="contents" class="contentDiv">
            <div class="flex-container">
                <div>
                    <h1>Home</h1>
                </div>
                <div style="margin-left:auto;">
                    <img src="../images/logo.png" alt="LOGO" height="100" width="200" />
                </div>
            </div>
            <div class="flex-container">                
                <div>
                    <img src="../images/sea-sound.jpg" alt="Img" class="imageBorder" style="width:100%" />
                </div>
            </div>
            <div class="flex-container">
                <div>
                    <h2>
                        ENJOY THE SUMMER WITH US!
                    </h2>
                    <p>This website template has been designed by Free Website Templates for you, for free. You can replace all this text with your own text. You can remove any link to our website from this website template, you're free to use this website template without linking back to us. If you're having problems editing this website template, then don't hesitate to ask for help on the Forum.</p>
                </div>                
            </div>
            <div class="flex-container">
                <div style="background-color:#C0BABC; width:100%" class="imageBorder">
                    <h3 style="text-align:left">Latest Blog</h3>
                    <hr style="border-color:#333333" />

                    <h4 style="text-align:left">2023 Best Beaches Contest Winners</h4>
                    <h6 style="text-align:left">April 02, 2023</h6>
                    <h6 style="text-align:left">Integer magna leo, posuere et dignissim vitae, porttitor at odio. Pellentesque a metus nec magna placerat volutpat. Nunc nisi mi, elementum sit amet...</h6>
                    <hr style="border-color:#333333" />

                    <h4 style="text-align:left">Top 10 Diving Spots</h4>
                    <h6 style="text-align:left">May 29, 2023</h6>
                    <h6 style="text-align:left">Maecenas scelerisque odio quis arcu fringilla malesuada. Nulla facilisi. In libero nulla, fermentum ut pretium ac, pharetra et eros...</h6>

                </div>
            </div>
            <div class="flex-container">
                <div>
                    <img src="../images/rooms.png" alt="Img" class="imageBorder" style="width:100%" />
                </div>
                <div>
                    <img src="../images/dive-site.png" alt="Img" class="imageBorder" style="width:100%" />
                </div>
                <div>
                    <img src="../images/food.png" alt="Img" class="imageBorder" style="width:100%" />
                </div>
            </div>
        </div>
    </div>
</div>