
@{
    ViewBag.Title = "Rooms";
}
<link rel="stylesheet" href="../Content/style.css" type="text/css">

<div id="background">
    <div id="page">
        <div id="contents" class="contentDiv">
            <div class="flex-container">
                <div>
                    <h1>Rooms</h1>
                </div>
                <div style="margin-left:auto;">
                    <img src="../images/logo.png" alt="LOGO" height="100" width="200">
                </div>
            </div>
            
            <div class="flex-container">
                <div>
                    <img src="../images/first-class.jpg" alt="Img" class="imageBorder" />
                </div>
                <div>
                    <h2>First Class Room</h2>
                    <p>
                        Cras dui sapien, feugiat vitae tristique ut, lobortis tempor orci. Donec pulvinar sagittis metus ut tristique. Pellentes que habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas idios.
                    </p>
                    @*<span style="border: 1px solid;">Rate: 220 / Day</span>*@
                </div>
            </div>

            <div class="flex-container">
                <div style="margin-top: 30px;">
                    <img src="../images/deluxe.jpg" alt="Img" class="imageBorder" />
                </div>
                <div style="margin-top: 30px;">
                    <h2>Deluxe Room</h2>
                    <p>
                        Sed et augue lorem. In sit amet placerat arcu. Mauris volutpat ipsum ac justo mollis vel vestibulum orci gravida. Vestibulum sit amet porttitor odio. Nulla facilisi. Fusce at pretium felis.
                    </p>
                    @*<span class="rate">Rate: 150 / Day</span>*@
                </div>
            </div>

            <div class="flex-container">
                <div style="margin-top: 30px;">
                    <img src="../images/suite.jpg" alt="Img" class="imageBorder" />
                </div>
                <div style="margin-top: 30px;">
                    <h2>Suite Room</h2>
                    <p>
                        Sed et augue lorem. In sit amet placerat arcu. Mauris volutpat ipsum ac justo mollis vel vestibulum orci gravida. Vestibulum sit amet porttitor odio. Nulla facilisi. Fusce at pretium felis.
                    </p>
                    @*<span class="rate">Rate: 180 / Day</span>*@
                </div>
            </div>

        </div>
    </div>
</div>

